.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: rgb(43, 42, 51);
    border-radius: 1rem;
}

.about img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 2px solid orange;
}

.about p {
    width: 80%;
}